

@{
    
}

<h2>Home</h2>

@Html.ActionLink("MixItUp", "Index", "MixItUp")<br/>
@Html.ActionLink("Clock", "Index", "Clock")<br/>
@Html.ActionLink("Login", "Index", "Login")<br/>
@Html.ActionLink("Weather", "Index", "Weather")<br/>