body {
    padding-bottom: 20px;
    background: #f6f6fa;;
}
.innerbody {
    background: white;
    height: 2000px;
    margin-top: 0;
}
.navbar {
    margin-bottom: 0;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.itemContainer {
    padding: 0;
}
.mix {
    padding: 2px;
    width: 100%;
    display: none;
    background: #f6f6fa;
    margin-bottom: 8px;
}
.mix:hover {
    cursor: pointer;
    background: white;
}

.sort {
    margin: 5px 0 5px 0;
}

select {
    margin: 3px;
}

#buttons.btn {
    margin: 2px;
}
#buttons.btn-toggle {
    margin: 2px;
}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 5px;
}
.iconContainer {
    margin: 2px;
    float: left;
    width: 70px;
    height: 60px;
    display: inline-block;
}
.userInfoContainer {
    height: 60px;
    display: inline-block;
}
