@model IEnumerable<Frontend_Grupparbete.Models.User>
@{
    ViewBag.Title = "Awesome Datatable!";
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/DataTableInsanity/myDataTableCssFile.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="~/DataTableInsanity/DataTableMain.js"></script>

<h2>Welcome to the awesome DataTable page!</h2>
<div style="margin: 100px 40px">
    
    @*<table id="mainTable" class="display">
        <thead>
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Income</th>
            <th>Profession</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Income</th>
            <th>Profession</th>
        </tr>
        </tfoot>
    </table>*@

</div>
@*    'ye old test datatable
    <div style="margin: 100px 40px">

    <table id="mainTable" class="display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </tfoot>
    </table>
</div>*@
<script>
    //$('#mainTable').dataTable({
    //    ajax: "/DataTableInsanity/data.txt",
    //    paging: true,
    //    ordering: true,
    //    responsive: true
    //});

</script>
