@{
    ViewBag.Title = "Weather";
}

<style>
    .weathericon {
        font-size: 4em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .daily-div {
        text-align: center;
        padding-top: 10px;
        position: relative;
    }

    #daily hr {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .col-split:first-of-type {
        padding-right: 0;
    }

    .col-split:last-of-type {
        padding-left: 0;
    }

    .font-2-em {
        font-size: 2em;
    }

    .font-1-5-em {
        font-size: 1.5em;
    }

    #now .row:first-child,
    #daily .row:first-child,
    #hourly-content .row:first-child {
        margin-top: 20px;
    }

    #hourly-content h3 {
        margin-top: 10px;
    }

    @@media (max-width: 768px) {
        #daily .image-wrapper {
            border-top: 2px gray solid;
        }

        .daily-div {
            margin-top: 20px;
        }

        .tab-content div {
            text-align: center;
        }

        .col-split {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    .image-wrapper {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
        left: 10px;
        right: 10px;
    }

    .background-pos-0 {
        background-position-x: 0;
    }

    .background-pos-68 {
        background-position-x: -68px;
    }

    .background-pos-100 {
        background-position-x: -100px;
    }

    .background-pos-168 {
        background-position-x: -168px;
    }

    .background-pos-300 {
        background-position-x: -300px;
    }

    .background-pos-385 {
        background-position-x: -385px;
    }
</style>

<h2>
    Weather
    <input type="text" class="form-control" id="search-location" style="display: inline-block;" placeholder="Search by city" />
    <input type="button" class="btn btn-default" id="search" value="Search" />
</h2>
<br />
<div><span class="h3">Location</span>&nbsp;<span id="location"></span></div>
<div><span class="h4">Timezone</span>&nbsp;<span id="timezone"></span></div>
<hr />

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#now" aria-controls="now" role="tab" data-toggle="tab">Now</a></li>
        <li role="presentation"><a href="#daily" aria-controls="daily" role="tab" data-toggle="tab">Daily</a></li>
        <li role="presentation"><a href="#hourly" aria-controls="hourly" role="tab" data-toggle="tab">Hourly</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="now">
            <div class="row">
                <div class="col-md-offset-4 col-md-4" id="currently">

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="daily">
            <div class="row">
                <div class="col-md-6 col-split">
                    <div class="col-md-3"><div id="daily-0"></div></div>
                    <div class="col-md-3"><div id="daily-1"></div></div>
                    <div class="col-md-3"><div id="daily-2"></div></div>
                    <div class="col-md-3"><div id="daily-3"></div></div>
                </div>
                <div class="col-md-6 col-split">
                    <div class="col-md-3"><div id="daily-4"></div></div>
                    <div class="col-md-3"><div id="daily-5"></div></div>
                    <div class="col-md-3"><div id="daily-6"></div></div>
                    <div class="col-md-3"><div id="daily-7"></div></div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="hourly">
            <div class="col-md-offset-1 col-md-10" id="hourly-content"></div>
        </div>
    </div>

</div>


<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
<script src="~/Scripts/weather.js"></script>

<script>
    $(function () {

        getGeoLocation();

        $('#search').click(function () {
            getCoordinatesGeocoder($('#search-location').val(), getWeather);
        });

        $(window).resize(function () {
            setTooltipAndImagePositions();
        });
    });

    // GEOLOCATION
    function getGeoLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        getLocationGeocoder(position.coords.latitude, position.coords.longitude, function (place) { $('#search-location').val(place); });
        getWeather(position.coords.latitude, position.coords.longitude);
    }

    // WEATHER-API
    function getWeather(latitude, longitude) {

        var storedWeather = getWeatherFromLocalStorage(latitude, longitude);
        if (storedWeather) {
            updateWeather(storedWeather);
            $('#location').html($('#search-location').val());
            setTimeout(function () {
                setTooltipAndImagePositions();
            }, 100);

        } else {
            getWeatherFromApi(latitude, longitude,
                function(data) {
                    addWeatherToLocalStorage(latitude, longitude, data);
                    console.log(data);
                    updateWeather(data);
                    $('#location').html($('#search-location').val());
                },
                function() {
                    setTimeout(function() {
                        setTooltipAndImagePositions();
                    }, 100);
                });
        }
    }

    function setTooltipAndImagePositions() {
        if ($(window).width() < 768) {
            $.each($('[data-toggle="tooltip"]'), function () {
                $(this).attr('data-placement', 'bottom');
            });

            $.each($('#daily .image-wrapper'), function () {
                var imgurl = $(this).css('background-image').replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '');
                var img = imgurl.substr(imgurl.lastIndexOf('/') + 1);
                $('#' + this.id).removeClass('background-pos-0').removeClass('background-pos-100').removeClass('background-pos-168').removeClass('background-pos-300').removeClass('background-pos-385').removeClass('background-pos-68');
                if (img === "wind.jpg") {
                    $('#' + this.id).addClass('background-pos-100');
                } else {
                    $('#' + this.id).addClass('background-pos-0');
                }
            });

        } else {
            $.each($('[data-toggle="tooltip"]'), function () {
                if (!$(this).hasClass('tooltip-bottom')) {
                    $(this).attr('data-placement', 'left');
                }
            });

            $.each($('#daily .image-wrapper'), function () {
                var imgurl = $(this).css('background-image').replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '');
                var img = imgurl.substr(imgurl.lastIndexOf('/') + 1);
                $('#' + this.id).removeClass('background-pos-0').removeClass('background-pos-100').removeClass('background-pos-168').removeClass('background-pos-300').removeClass('background-pos-385').removeClass('background-pos-68');
                if (img === "fog.jpg" || img === "clear-night.jpg") {
                    $('#' + this.id).addClass('background-pos-300');
                } else if (img === "wind.jpg") {
                    $('#' + this.id).addClass('background-pos-385');
                } else if (img === "clear-day.jpg") {
                    $('#' + this.id).addClass('background-pos-68');
                } else {
                    $('#' + this.id).addClass('background-pos-168');
                }
            });
        }
        $('body').tooltip('destroy');
        $('body').tooltip({ selector: '[data-toggle="tooltip"]', container: 'body' });
    }

    function updateWeather(json) {

        $('#timezone').text(json.timezone);

        // CURRENTLY
        updateCurrentWeather(json, '@Url.Action("Currently", "Weather")', function (data) {
            $('#currently').html(data);
        });

        // DAILY
        updateDailyWeather(json, '@Url.Action("Daily", "Weather")', function(data, index) {
            $('#daily-' + index).html(data);
        });

        // HOURLY
        $.each(json.hourly.data, function(i, item) {
            $('#hourly-content').append('<div id="hourly-' + i + '"></div>');
        });
        updateHourlyWeather(json, '@Url.Action("Hourly", "Weather")', function(data, index) {
            $('#hourly-' + index).html(data);
        });
    }

</script>
