

@{
    ViewBag.Title = "Weather";
}

<style>
    .weathericon {
        font-size: 4em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .weathericon-hourly {
        /*font-size: 2em;
        line-height: 2em;*/
    }
    .daily-div {
        text-align: center;
    }
    #daily hr {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .center-day-and-icon {
        text-align: center;
    }
    .col-split:first-of-type {
        padding-right: 0;
    }
    .col-split:last-of-type {
        padding-left: 0;
    }
    .hourly-2xfont {
        font-size: 2em;
    }
    .font-1-5-em {
        font-size: 1.5em;
    }
    #hourly-content .row:first-child {
        margin-top: 20px;
    }
    #hourly-content h3 {
        margin-top: 10px;
    }
    @@media (max-width: 768px) {
        .daily-div {
            border-top: 2px gray solid;
            margin-top: 20px;
        }
        .tab-content div {
            text-align: center;
        }
    }
</style>

<h2>Weather <a href="#" id="update-api">Update api</a></h2>
<br/>
<span class="label label-default">Timezone: </span><span id="timezone"></span>
<hr/>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#now" aria-controls="now" role="tab" data-toggle="tab">Now</a></li>
        <li role="presentation" class="active"><a href="#daily" aria-controls="daily" role="tab" data-toggle="tab">Daily</a></li>
        <li role="presentation"><a href="#hourly" aria-controls="hourly" role="tab" data-toggle="tab">Hourly</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="now">now</div>
        <div role="tabpanel" class="tab-pane active" id="daily">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6 col-split">
                    <div class="col-md-3 daily-div"><div id="daily-0"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-1"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-2"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-3"></div></div>
                </div>
                <div class="col-md-6 col-split">
                    <div class="col-md-3 daily-div"><div id="daily-4"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-5"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-6"></div></div>
                    <div class="col-md-3 daily-div"><div id="daily-7"></div></div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="hourly">
            <div class="col-md-offset-1 col-md-10" id="hourly-content"></div>
        </div>
    </div>

</div>

<script>
    $(function () {

        var latitude = '59.329323';
        var longitude = '18.068581';

        $('#update-api').click(function () {
            $.ajax({
                url: 'https://api.forecast.io/forecast/44c7cdd00e0f82699006ed275eb2b6cf/' + latitude + ',' + longitude + '?units=si',
                type: 'GET',
                dataType: 'jsonp',
                success: function (data, textStatus, xhr) {
                    console.log(data);
                    updateWeather(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                },
                complete: function () {
                    $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
                    setTooltipPositions();
                }
            });
        });

        $(window).resize(function () {
            setTooltipPositions();   
        });
        
    });

    function setTooltipPositions() {
        if ($(window).width() < 768) {
            $.each($('[data-toggle="tooltip"]'), function() {
                $(this).data('placement', 'bottom');
            });
        } else {
            $.each($('[data-toggle="tooltip"]'), function () {
                if (!$(this).hasClass('tooltip-bottom')) {
                    $(this).data('placement', 'left');
                }
            });
        }
    }

    function updateWeather(json) {

        var currently = json.currently;
        var daily = json.daily;
        var hourly = json.hourly;
        var timezone = json.timezone;

        $('#timezone').text(timezone);

        // CURRENTLY

        // DAILY
        $.each(daily.data, function (i, item) {

            var json = {
                time: item.time,
                summary: item.summary,
                icon: item.icon,
                temperatureMax: item.temperatureMax,
                temperatureMaxTime: item.temperatureMaxTime,
                temperatureMin: item.temperatureMin,
                temperatureMinTime: item.temperatureMinTime,
                cloudCover: item.cloudCover,
                precipIntensity: item.precipIntensity,
                precipIntensityMax: item.precipIntensityMax,
                precipProbability: item.precipProbability,
                windSpeed: item.windSpeed,
                windBearing: item.windBearing,
                sunriseTime: item.sunriseTime,
                sunsetTime: item.sunsetTime,
                moonPhase: item.moonPhase
            };
            $.ajax({
                url: '@Url.Action("Daily", "Weather")',
                type: 'get',
                data: json,
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#daily-' + i).replaceWith(data);
                },
                error: function (request, status, err) {
                    //alert(status);
                    //alert(err);
                }
            });
        });


        // HOURLY
        $.each(hourly.data, function (i, item) {
            $('#hourly-content').append('<div id="hourly-' + i + '"></div>');
            var json = {
                time: item.time,
                summary: item.summary,
                icon: item.icon,
                temperature: item.temperature,
                apparentTemperature : item.apparentTemperature,
                cloudCover: item.cloudCover,
                precipIntensity: item.precipIntensity,
                precipProbability: item.precipProbability,
                windSpeed: item.windSpeed,
                windBearing: item.windBearing
            };
            $.ajax({
                url: '@Url.Action("Hourly", "Weather")',
                type: 'get',
                data: json,
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#hourly-' + i).replaceWith(data);
                },
                error: function (request, status, err) {
                    //alert(status);
                    //alert(err);
                }
            });
        });


    }

</script>
