@{  
    ViewBag.Title = "Clock";
    ViewBag.Icon = "clock-o";
}
<h1>THE Clock</h1>


<div  class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h3>CoolClock chunkySwiss</h3>
        <canvas id="c1" class="CoolClock:chunkySwiss:150"></canvas></div>
        <div class="col-md-4">
            <h3>CoolClock fancy</h3>
        <canvas id="c2" class="CoolClock:fancy:150"></canvas></div>
        <div class="col-md-4">
            <h3>CoolClock machine</h3>
        <canvas id="c3" class="CoolClock:machine:150"></canvas></div>
    </div>
</div>


<div style="background-color: #D2691E" class="jumbotron">
    <h3>Iframe free time and date</h3>
    @*<iframe src="http://free.timeanddate.com/clock/i4xnxcev/n239/tlse/fn13/fs12/fcf09/tc09f/ftb/tt0/tw1/tm1/td1/th1/ts1/ta1" frameborder="0" width="50%" height="16"></iframe>*@
    <iframe class="embed-responsive-item" src="http://free.timeanddate.com/clock/i4xm4okg/n239/tlse/fn8/fs16/fc909/tc000/ftb/bas2/bat1/bacfff/pa8/tt0/td1/th1/ta1" frameborder="0" width="100%" height="118"></iframe>

</div>

<div class="row">
    <div class=" col-md-6">
        <div class=" jumbotron">
            <h3>CoolClock Tumb and Cold skin</h3>
            <canvas id="s09" class="CoolClock:Tumb" width="170" height="170" style="width: 170px; height: 170px;"></canvas>
            <canvas id="s07" class="CoolClock:Cold" width="170" height="170" style="width: 170px; height: 170px;"></canvas>
        </div>
        </div>

        <div class=" col-md-6">
            <div class="jumbotron">
                <h3>Today by moment.js</h3>
                <p id="clock" class=" label label-default">Loading..</p>
                           
            </div>
            </div>
            <div class=" col-md-6">
                <div class="jumbotron">
                    <p id="clock1" class=" label label-default"></p>
                </div>
            </div>
</div>

    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <iframe src="http://free.timeanddate.com/countdown/i4xo13l4/n239/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pc9f9/tcfff/fs100/szw448/szh189/tatTime%20left%20to%20New%20year!!/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2015-12-31T23:59:00" allowtransparency="true" frameborder="0" width="386" height="194"></iframe>

            </div>
        </div>
        <div class="col-md-4">
            <div style="padding-bottom:125px" class="jumbotron">
                <span id="runner"></span>
                <div id="myButton" class="btn btn-sm btn-primary active" style=" margin:2px; width:100%">Start Runner</div>
                <div id="myStopButton" class="btn btn-sm btn-primary" style="margin: 2px; width: 100%">Stop Runner</div>
                <div id="myResetButton" class="btn btn-sm btn-success" style="margin: 2px; width: 100%">Reset Runner</div>
               
            </div>
        </div>
    </div>


@*<div>
    <button  type="button" onclick="document.getElementById('dateTime').innerHTML = Date()">Visa datum och tid</button>
    <div id="dateTime"></div>
</div>*@
<script type="text/javascript">


   /*moment*/
    $(function () {
        var dateFuture = moment('2015-12-24')
        var now = moment();

        now.format('Z'),

        $('#clock1').text(dateFuture.diff(now,'days')+' Days left this year');
    });
  

    function update() {
        $('#clock').html(moment().format('dddd D. MMMM YYYY H:mm:ss'));
       
    }

    setInterval(update, 1000);
    </script>

     <script type="text/javascript">

         $('#runner').runner();

         $('#myButton').click(function () {
             $('#runner').runner('start');
         });
         $('#myStopButton').click(function () {
             $('#runner').runner('stop');
         });
         $('#myResetButton').click(function () {
             $('#runner').runner('reset');
         });


     </script>