@model Frontend_Grupparbete.Models.User


<ul class="nav navbar-nav navbar-right" ng-controller="homeController">

    @if (Model == null)
    {
        <li><a href="#" ng-click="showCreateUserForm()">Register</a></li>
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
    }
    else
    {
        <li><a href="#" ng-click="showUpdateUserForm(@Model.Id)">@Model.Email</a></li>
        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
    }

</ul>