@model string


<ul class="nav navbar-nav navbar-right">



    @if (string.IsNullOrEmpty(Model))
    {
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
    }
    else
    {
        <li>@Html.ActionLink(Model, "Manage", "Login", new { email = Model }, null)</li>
        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
    }

</ul>