@model Frontend_Grupparbete.Models.User


<ul class="nav navbar-nav navbar-right">



    @if (Model == null)
    {
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
    }
    else
    {
        <li>@Html.ActionLink(Model.Email, "Manage", "Login", new { id = Model.Id }, null)</li>
        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
    }

</ul>