

<div class="modal-header">
        <h3>{{ headline }}</h3>
</div>

<div class="modal-body">
    <div ng-show="ErrorMessage" class="alert alert-warning"> {{ ErrorMessage }} </div>
    <div ng-show="SuccessMessage" class="alert alert-success"> {{ SuccessMessage}} </div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Basic information</legend>
            <div class="form-group">
                <label for="firstName" class="control-label col-sm-3">First Name</label>
                <input id="firstName" class="form-control col-sm-9" type="text" Name="FirstName" ng-model="editableUser.FirstName"/>
            </div>

            <div class="form-group">
                <label for="lastName" class="control-label col-sm-3">Last Name</label>
                <input id="lastName" class="form-control" type="text" Name="LastName" ng-model="editableUser.LastName"/>
            </div>

            <div class="form-group">
                <label for="email" class="control-label col-sm-3">Email</label>
                <input id="email" class="form-control" type="email" Name="email" ng-model="editableUser.Email"/>
            </div>

            <div class="form-group">
                <label for="password" class="control-label col-sm-3">Password</label>
                <input id="password" class="form-control col-sm-9" type="password" Name="Password" ng-model="editableUser.Password"/>
            </div>

        </fieldset>
        <fieldset>
            <legend>Profession Information</legend>

            <div class="form-group">
                <label for="income" class="control-label col-sm-3">Income</label>
                <input id="income" class="form-control col-sm-9" type="number" Name="Income" ng-model="editableUser.Income"/>
            </div>

            <div class="form-group">
                <label for="profession" class="control-label col-sm-3">Profession</label>
                <select id="profession" class="form-control col-sm-9" Name="Profession" ng-model="editableUser.Profession" ng-options="prof for prof in professions"></select>
            </div>

        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        <input type="button" class="btn btn-primary" value="Cancel" ng-click="cancelForm()" />
    </div>
</div>
